

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(34, 40, 49, 0.6);
  
    .modal-main {
        position: fixed;
        border-radius: 5px;
        box-shadow: 0 0 10px  #00adb5;
        font-size: 14px;
        border: solid 1px #00adb5;
        color: #eeeeee;
        background:#222831;;  
        height: auto;
        top: 50%;
        left: 50%;
        padding: 15px;
        height: 400px;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 768px) {
            width: 80%;
        } 
    
        @media only screen and (min-width: 992px) {
            top: 50%;
            width: 60%;
            height: 550px;
        } 
    

        h5 {
            margin: 10px 0 ;
        }
    }


    &__content{
        height: 250px;
        overflow: auto;
        @media only screen and (min-width: 992px) {
           height: auto;
        } 
        &__container {
            height: 250px;
            overflow: hidden;
            @media only screen and (min-width: 992px) {
                height: auto;
            } 
        }
        &__publisher{
            font-size: 10px;
            
            font-style: normal;
            font-weight: 700;
            margin: 5px 0;
    
        }
    
        &__creators{
            font-size: 12px;
            
            font-style: normal;
            font-weight: 300;
        }

    }

    &__close {
        align-content: center;
        align-items: center;
        border-radius: 100%;
        border: 2px solid #eeeeee;
        bottom: 0;
        color: #eeeeee;
        cursor: pointer;
        background:#222831;;  
        display: flex;
        
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        height: 35px;
        justify-content: center;
        position: absolute;
        right: -20px;
        text-align: center;
        text-transform: uppercase;
        top: -40px;
        transition: all;
        width: 35px;

        &:hover{
            color:#2C3E50;
            border: 2px solid #008571  ;
        }
    }

  }
  
  .display-block {
    display: block;
    z-index: 10;
  }
  
  .display-none {
    display: none;
  }
  